/* reset css */
html, body {
  font-size: 14px;
  color: #666;
  height: 100%;
  min-width: 1365px;
  background-color: #F2F5FB;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(216, 221, 228, 0.5)
}
::-webkit-scrollbar {
  width:6px;
  height: 8px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(144,147,153,.3);
  background-clip:padding-box;
  border-radius: 5px;
  min-height:40px;
  cursor: pointer;
  &:hover {
    transition: background-color .3s;
    background-color: rgba(144,147,153,.8);
  }
}
ol, ul {
  list-style: none;
}
/* 覆盖nprogress样式 */
#nprogress {
  .bar{
    background: #0077FF;
    box-shadow: 0 1px 5px #0077FF;
    z-index: 3000;
  }
  .spinner-icon{
    border-top-color: #0077FF;
    border-left-color: #0077FF;
  }
}
/* 页面动画 */
.fade-enter-active, .fade-leave-active {
  transition: all .1s linear;
  // 解决元素fixed定位后，闪动问题
  .form-btn-warp{
    display: none;
  }
}
.fade-enter, .fade-leave {
  opacity: 0;
  transform: translateY(10px);
  .form-btn-warp{
    display: none;
  }
}
/* 全局样式 */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.headerFixed{
  .el-table__header-wrapper{
    position: absolute;
    z-index: 10;
  }
  .el-table__fixed-header-wrapper{
    z-index: 10;
  }
}
.table-top-left{
  display: inline-block;
  margin-right: 10px;
}
.el-menu--popup {
  padding: 0;
}
.el-form--label-top .el-form-item__label {
  padding: 0;
  height: 35px;
  line-height: 35px;
}
.el-menu-item,
.el-submenu__title {
  display: flex;
  height: 50px;
  line-height: 50px;
}
//覆盖全局的菜单样式
.el-menu {
  background-color: #2e3759;
  color: rgba(255, 255, 255, 0.7);
  .el-submenu__title {
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      background-color: #242d4d;
    }
    i {
      color: rgba(255, 255, 255, 0.7);
      transition: color 0.3s;
    }
  }
  .el-submenu.nf-submenu.is-active {
    & > .el-submenu__title {
      color: #fff;
      i {
        color: #fff;
      }
    }
  }
  .el-menu-item {
    background-color: #2e3759;
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    i {
      color: rgba(255, 255, 255, 0.7);
      transition: color 0.3s;
    }
    &.is-active {
      color: rgba(255, 255, 255, 0.7);
      background-color: #0077ff;
    }
    &:not(.is-active):hover {
      outline: 0;
      background-color: #242d4d;
    }
  }
}